basicsr
cupy-cuda11x
google-cloud-storage
python-dotenv
ffmpeg-python
imageio
matplotlib
matplotlib-inline
notebook
numpy
onnxruntime-gpu
opencv-python
pafy
Pillow
pika
protobuf
python-dotenv
pytorch-msssim
pytz
PyYAML
requests
scikit-image
scikit-video
scipy
sk-video
tensorflow<2.11
tqdm
youtube-dl
